.heroSection {
    color: rgb(233, 234, 236);
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.heroSection > .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 1400px;
    margin: 0 auto;
    padding: 0 2%;
    z-index: 2;
}

.gradiantOverlay{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.74), rgba(255, 255, 255, 0.219));
    z-index: 1;
}