.wrapper{
    padding: 10px 15px;
    margin: 5px 8px;
    position: relative;
    z-index: 3;
}

.wrapper img{
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
    object-fit: cover;
}

.wrapper:has(> img)::before{
    content: "";
    width: 70px;
    height: 40px;
    background-color: #3c83d4f3;
    position: absolute;
    top:-8px;
    left:-15px;
    z-index: -1;
}

.wrapper:has(> img)::after{
    content: "";
    width: 70px;
    height: 40px;
    background-color: #ff5555;
    position: absolute;
    bottom:-3%;
    right:-3%;
    z-index: 1;
}