.heroSection {
    color: rgb(233, 234, 236);
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heroSection>div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 1400px;
    margin: 0 auto;
    padding: 0 2%;
}