.section{
    text-align: center;
}

.hero{
    background-image: url('../../app/shared/img/banner.jpg');
    background-size: cover;
    background-position: center;
    
    padding-top: 250px;
    padding-bottom: 250px;
}